<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letscooee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- According to Android 11 Security Policy developer can not access other app information
    without query <queries> tag allows to access information of package added in it.
    Developer blog - https://medium.com/androiddevelopers/package-visibility-in-android-11-cc857f221cd9
    Solution - https://stackoverflow.com/a/64856856/9256497 -->
    <queries>
        <package android:name="com.android.chrome" />
    </queries>

    <application
        android:name=".init.AppController"
        android:usesCleartextTraffic="true">

        <activity android:name=".device.DebugInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".trigger.inapp.InAppBrowserActivity" />

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <!--Will keep it for few months to check of ANR is getting produced by our SDK-->
        <meta-data
            android:name="io.sentry.anr.enable"
            android:value="true" />

        <activity
            android:name=".trigger.inapp.InAppTriggerActivity"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.PopUp" />

        <activity android:name=".trigger.CooeeEmptyActivity" />

        <service
            android:name=".services.CooeeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.PushNotificationIntentService" />
        <service
            android:name=".schedular.job.PendingTaskJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".broadcast.OnPushNotificationButtonClick" />
        <receiver android:name=".broadcast.CooeeJobSchedulerBroadcast" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast.ARActionPerformed"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.letscooee.arResponse" />
            </intent-filter>
        </receiver>
    </application>
</manifest>