<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letscooee">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".init.AppController"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".trigger.FeedbackActivity"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".trigger.EngagementTriggerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.PopUp" />

        <service
            android:name=".services.CooeeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.CooeeIntentService" />
        <receiver android:name=".brodcast.OnPushNotificationButtonClick"/>
    </application>
</manifest>